# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
music_project/frontend_react/music_list/node_modules
music_project/frontend_react/music_list/.pnp
music_project/frontend_react/music_list/.pnp.js

# testing
music_project/frontend_react/music_list/coverage

# production
music_project/frontend_react/music_list/build

# misc
music_project/frontend_react/music_list.DS_Store
music_project/frontend_react/music_list.env.local
music_project/frontend_react/music_list.env.development.local
music_project/frontend_react/music_list.env.test.local
music_project/frontend_react/music_list.env.production.local

music_project/frontend_react/music_list/npm-debug.log*
music_project/frontend_react/music_list/yarn-debug.log*
music_project/frontend_react/music_list/yarn-error.log*

# Python
music_project/*.pyc
music_project/music_project/__pycache__
music_project/main_app/__pycache__
music_project/main_app/migrations
music_project/db.sqlite3
music_project/staticfiles

